@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Raleway, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-brandred: var(--pitxred);
    --color-custom-bg-light: var(--custom-bg-light);
    --color-custom-bg: var(--custom-bg);
    --color-custom-bg-dark: var(--custom-bg-dark);
    --color-custom-shadow: var(--custom-shadow);
    --color-custom-body: var(--custom-body);
    --color-custom-h1: var(--custom-h1);
    --color-custom-primary: var(--custom-primary);
    /* --color-custom-primary-2: var(--custom-primary-2); */
    /* TODO: ranem the primary-2 as 'constant' */
    --color-custom-secondary: var(--custom-secondary);
    --color-custom-accent-1: var(--custom-accent-1);
    --color-custom-accent-2: var(--custom-accent-2);
    --color-custom-accent-3: var(--custom-accent-3);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);

    --color-dk-grey: var(--dk-grey);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    /* --color-sidebar: var(--sidebar-background); */
    /* --color-sidebar-foreground: var(--sidebar-foreground); */
    /* --color-sidebar-primary: var(--sidebar-primary); */
    /* --color-sidebar-primary-foreground: var(--sidebar-primary-foreground); */
    /* --color-sidebar-accent: var(--sidebar-accent); */
    /* --color-sidebar-accent-foreground: var(--sidebar-accent-foreground); */
    /* --color-sidebar-border: var(--sidebar-border); */
    /* --color-sidebar-ring: var(--sidebar-ring); */
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    input[type='date']::-webkit-calendar-picker-indicator {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        background: var(--custom-shadow);
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 2h2v2h6V2h2v2h3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h3V2Zm13 8H4v10h16V10ZM4 8h16V6h-3v2h-2V6H9v2H7V6H4v2Z'/%3E%3C/svg%3E") center / contain no-repeat;
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 2h2v2h6V2h2v2h3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h3V2Zm13 8H4v10h16V10ZM4 8h16V6h-3v2h-2V6H9v2H7V6H4v2Z'/%3E%3C/svg%3E") center / contain no-repeat;
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            Raleway, ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --background: oklch(98.4% 0.003 247.858);
    --foreground: oklch(20.8% 0.042 265.755);
    --card: hsl(0 0% 100%);
    --card-foreground: oklch(20.8% 0.042 265.755);
    --popover: oklch(98.4% 0.003 247.858);
    --popover-foreground: oklch(20.8% 0.042 265.755);
    --primary: hsl(225, 62%, 36%);
    --primary-foreground: hsl(0 0% 92.1%);
    --secondary: oklch(98.4% 0.003 247.858);
    --secondary-foreground: oklch(20.8% 0.042 265.755);
    --muted: oklch(98.4% 0.003 247.858);
    --muted-foreground: oklch(37.2% 0.044 257.287);
    --accent: oklch(98.4% 0.003 247.858);
    --accent-foreground: oklch(20.8% 0.042 265.755);
    --success: oklch(52.7% 0.154 150.069);
    --success-foreground: oklch(98.5% 0 0);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: oklch(98.4% 0.003 247.858);
    --warning: oklch(79.5% 0.184 86.047);
    --warning-foreground: oklch(20.8% 0.042 265.755);
    --info: oklch(54.6% 0.215 262.881);
    --info-foreground: oklch(98.5% 0 0);
    --dk-grey: hsl(215.385, 22.034%, 34.706%);
    --border: oklch(98.4% 0.003 247.858);
    --input: oklch(98.4% 0.003 247.858);
    --ring: hsl(215.385, 22.034%, 34.706%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 1rem;
    --pitxred:  hsl(7, 84, 54);
    --custom-bg-light: oklch(97.081% 0.00674 277.164);
    --custom-bg: oklch(93.997% 0.00706 268.546);
    --custom-bg-dark: oklch(89.499% 0.00977 273.345);
    /* oklch(96.8% 0.007 247.896); */
    --custom-shadow: oklch(49.194% 0.02081 278.668);
    --custom-body: oklch(41.503% 0.02199 275.142);
    --custom-h1: oklch(33.584% 0.02498 275.503);
    --custom-primary: oklch(48.092% 0.12718 265.651);
    /* --custom-primary-2: oklch(38.027% 0.1387 258.045); */
    --custom-secondary: oklch(61.195% 0.08601 267.548);
    --custom-accent-1: oklch(65.044% 0.18927 31.032);
    --custom-accent-2: oklch(71.619% 0.12924 28.809);
    --custom-accent-3: oklch(61.195% 0.08601 267.548);
}

.dark {
    --background: oklch(17.9% 0.042 264.695);
    --foreground: oklch(100% 0.003 247.858);
    --card: oklch(25.8% 0.042 265.755);
    --card-foreground: oklch(100% 0.003 247.858);
    --popover: oklch(25.8% 0.042 265.755);
    --popover-foreground: oklch(100% 0.003 247.858);
    --primary: hsl(225, 62%, 36%);
    --primary-foreground: oklch(100% 0.003 247.858);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: oklch(100% 0.003 247.858);
    --muted: hsl(0 0% 21.08%);
    --muted-foreground: hsl(0 0% 68.9%);
    --accent: oklch(17.9% 0.042 264.695);
    --accent-foreground: oklch(100% 0.003 247.858);
    --success: oklch(72.3% 0.219 149.579);
    --success-foreground: oklch(20.8% 0.042 265.755);
    --destructive: hsl(0 84% 65%);
    --destructive-foreground: hsl(0 0% 100%);
    --warning: oklch(85.2% 0.199 91.936);
    --warning-foreground: oklch(20.8% 0.042 265.755);
    --info: oklch(70.7% 0.165 254.624);
    --info-foreground: oklch(20.8% 0.042 265.755);
    --border: oklch(32.9% 0.041 260.031);
    --input: oklch(32.9% 0.041 260.031);
    --ring: hsl(0 0% 88.1%);
    --chart-1: hsl(220 70% 55%);
    --chart-2: hsl(160 60% 50%);
    --chart-3: hsl(30 80% 60%);
    --chart-4: hsl(280 65% 65%);
    --chart-5: hsl(340 75% 60%);
    --pitxred:  hsl(7, 84, 59);
    --custom-bg-light: oklch(26.884% 0.01405 272.656);
    --custom-bg: oklch(20.928% 0.01114 267.979);
    --custom-bg-dark: oklch(14.640% 0.01999 256.725);
    --custom-shadow: oklch(70.841% 0.01950 275.488);
    --custom-body: oklch(77.926% 0.01926 272.226);
    --custom-h1: oklch(83.804% 0.02141 276.871);
    --custom-primary: oklch(34.076% 0.13074 265.369);
    /* --custom-primary-2: oklch(38.027% 0.1387 258.045); */
    --custom-secondary: oklch(38.536% 0.09463 267.630);
    --custom-accent-1: oklch(42.497% 0.19007 31.032);
    --custom-accent-2: oklch(42.649% 0.13284 28.452);
    /* --custom-accent-3: oklch(79.995% 0.16114 82.627); */
    --custom-accent-3: oklch(53.049% 0.07535 269.064);

}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: var(--custom-shadow);
        caret-color: var(--custom-shadow);
        -webkit-box-shadow: 0 0 0 1000px var(--custom-bg-light) inset !important;
        box-shadow: 0 0 0 1000px var(--custom-bg-light) inset !important;
        transition: background-color 9999s ease-out 0s !important;
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark input:-webkit-autofill:active {
        -webkit-text-fill-color: var(--custom-shadow);
        caret-color: var(--custom-shadow);
        -webkit-box-shadow: 0 0 0 1000px var(--custom-bg-dark) inset !important;
        box-shadow: 0 0 0 1000px var(--custom-bg-dark) inset !important;
        transition: background-color 9999s ease-out 0s !important;
    }

    input[data-slot='input']:-webkit-autofill,
    input[data-slot='input']:-webkit-autofill:hover,
    input[data-slot='input']:-webkit-autofill:focus,
    input[data-slot='input']:-webkit-autofill:active {
        background-color: var(--custom-bg) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--custom-bg) inset !important;
        box-shadow: 0 0 0 1000px var(--custom-bg) inset !important;
    }

    .dark input[data-slot='input']:-webkit-autofill,
    .dark input[data-slot='input']:-webkit-autofill:hover,
    .dark input[data-slot='input']:-webkit-autofill:focus,
    .dark input[data-slot='input']:-webkit-autofill:active {
        background-color: var(--custom-bg-dark) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--custom-bg-dark) inset !important;
        box-shadow: 0 0 0 1000px var(--custom-bg-dark) inset !important;
    }
}
